@media only screen and (min-width : 700px){    
    html, body{
        height: 100%;
        width: 100%;
    }
}

@media only screen and (min-width : 700px) and (orientation : landscape) {    
    html, body{
        height: 100%;
        width: 600px;
    }
}

html, body{
    padding: 0;
    margin: 0 auto;
    font-family: 'Roboto Mono', monospace;
    font-size: xx-large;
}

.hold-buttons{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    height:70%;
}

.main{
    display: flex;
    flex-direction: column;
    height: 100%;
}
